@import url(http://fonts.googleapis.com/css?family=Playfair+Display);
@import url(http://fonts.googleapis.com/css?family=Fauna+One);

.pretty-title {
  font-family: 'Playfair Display', serif;
  color: #1FDA9A;
  text-align: center;
}
.pretty-body {
  background-color: #F2F2F3;
  <!-- DO BOOTSTRAP FOR ALIGNMENT -->
}

.pretty-greeter {
  font-family: 'Fauna One', serif;
  color: #1FDA9A;
  text-align: left;
  font-size: 1.6em;
}
.pretty-text{
  font-family: 'Fauna One', serif;
  color: #333435;
  text-align: center;
  font-size: 1.6em;
}
