@font-face {
  font-family: "Kristen ITC";
  src: url("KristenITC.ttf") format('truetype');
}
.ugly-title {
  font-family: 	"Comic Sans MS", cursive, sans-serif;
  color: white;
  text-align: center;
}
.ugly-body {
  background-color: green;
  text-align: right;
  <!-- DO BOOTSTRAP FOR ALIGNMENT -->
}
.ugly-picture {
  background-color: orange;
  width: 400px;
  height: 400px;
  float: left;
}
.ugly-greeter {
  font-family: 	"Comic Sans MS", cursive, sans-serif;
  color: blue;
}
.ugly-text {
  font-family: 	"Comic Sans MS", cursive, sans-serif; 
  color: yellow;
  text-align: right;
  font-size: 2em;
}
